# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
